$header-background: #cbd4d1;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 40px;
    background-color: $header_background;
    
    div {
      color: blue;
    }
}
